<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.anabada.review.mapper.ReviewMapper">

	<select id="reviewList" resultType="review">
		Select r.review_num
				,r.review_score
				,r.review_date
				,r.review_comment
				,o.order_num
				,m.member_name
		FROM review r
		JOIN anvd_order o ON r.order_num = o.order_num
		JOIN member m ON o.member_num = m.member_num


	</select>
	
	<select id="addreviewList" resultType="Item">
	select i.item_num,
           i.item_name,
           i.item_image,
           i.item_info,
           i.item_status,
           i.item_date,
           c.category_name,
           c.parent_category
     from  item i join category c on (i.category_id = c.category_id)
     where item_num = 1

	</select>
	
	<insert id="insertreview" parameterType="review">
		insert into review (order_num,
                            review_score,
                            review_comment)
        values             (#{orderNum},
                            #{reviewScore},
                            #{reviewComment})


	</insert>


</mapper>