<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/db.properties" />
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
  		<typeAlias alias="member" type="co.anabada.member.Member" />
  		<typeAlias alias="diary" type="co.anabada.diary.Diary" />
  		<typeAlias alias="Item" type="co.anabada.item.Item" />
  		<typeAlias alias="cart" type="co.anabada.cart.Cart" />
  		<typeAlias alias="review" type="co.anabada.review.Review" />
  		<typeAlias alias="order" type="co.anabada.order.Order" />
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="co/anabada/member/mapper/MemberMapper.xml" />
		<mapper resource="co/anabada/diary/mapper/DiaryMapper.xml" />
		<mapper resource="co/anabada/item/mapper/ItemMapper.xml" />
		<mapper resource="co/anabada/cart/mapper/CartMapper.xml" />
		<mapper resource="co/anabada/review/mapper/ReviewMapper.xml" />
		<mapper resource="co/anabada/order/mapper/OrderMapper.xml" />
	</mappers>
</configuration>