<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.anabada.cart.mapper.CartMapper">

	<select id="cartList" resultType="cart">
		SELECT  c.cart_num 
				,c.cart_status 
				,i.item_num 
				,i.item_name 
				,i.item_price
				,i.item_image 
				,m.member_num
				,m.member_name
		FROM cart c
				JOIN member m ON c.member_num = m.member_num
				JOIN item i ON m.member_num = i.item_num
	</select>

	<insert id="insertCart" parameterType="cart">
		INSERT INTO cart(member_num
					,item_num
					,cart_status)
		VALUES (#{memberNum}
				,#{itemNum}
				,#{cartStatus})
	</insert>

	<delete id="deleteCart" parameterType="string">
		DELETE cart
		WHERE cart_id =#{cartId}
	
	</delete>

</mapper>