<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.anabada.member.mapper.MemberMapper">

	<select id="memberList" resultType="member">
		SELECT /*+ INDEX(PK_MEMBER) */
		member_num
		,member_id
		,member_password
		,member_name
		,member_phone
		,member_score
		,account_num
		FROM member
	</select>

	<insert id="insertMember" parameterType="member">
		INSERT INTO member (
		member_num,
		member_id,
		member_password,
		member_name,
		member_phone
		)
		VALUES (
		member_num_seq.nextval,
		#{memberId},
		#{memberPassword},
		#{memberName},
		#{memberPhone}
		)
	</insert>
	
	<select id="perMemSellItems" resultType="Item">
        SELECT item_num
              ,item_name
              ,item_price
              ,item_image
              ,item_info
              ,item_status
        FROM  item
        WHERE member_num = ${mno}
	</select>

	<select id="selectMember" parameterType="string">
		SELECT member_num
		,member_id
		,member_password
		,member_name
		,member_phone
		,member_score
		,account_num
		FROM member
		WHERE member_id = #{memberId}
		AND member_password = #{memberPassword}
	</select>

	<select id="countMemberId" parameterType="string">
		SELECT COUNT(member_num)
		FROM member
		WHERE member_id = #{id}
	</select>
	
	<select id="selectMemByNum" resultType="member">
		SELECT member_num
		      ,member_id
		      ,member_password
		      ,member_name
		      ,member_phone
		      ,member_score
		      ,account_num
		FROM member
		WHERE member_num = #{mno} 
	</select>

	<select id="myList" resultType="member">
		SELECT m.member_num
		,m.member_score
		,i.item_name
		,i.item_num
		,i.item_image
		,i.item_status
		,i.item_price
		FROM member m JOIN item i ON m.member_num = i.member_num
		WHERE m.member_num = ${memberNum}
	</select>

	<select id="myInfoList" resultType="member">
		SELECT member_num,
		member_name,
		member_phone,
		account_num
		FROM member
		WHERE member_num = #{memberNum}
	</select>

	<update id = "updateAcc" parameterType="member">
	 UPDATE member 
	 SET account_num = #{accountNum}
	 WHERE member_num = #{memberNum}
	</update>

</mapper>
