<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.anabada.diary.mapper.DiaryMapper" >
	
	<!-- 일정목록 -->
	<select id="diaryList" resultType= "diary">
	  SELECT diary_name,
	  		 diary_content,
	  		 diary_type,
	  		 diary_Date
	  		 diary_modify
	  		 
	  FROM   diary
	</select>
	
	
	<!-- 일정등록 -->
	<insert id = "insertDiary" parameterType = "diary">
	<selectKey resultType="int" keyProperty="diaryId"
	order = "BEFORE">
	  SELECT diary_id
	  FROM 	 dual 
	</selectKey>
	  INSERT INTO diary ( diary_name,
						  diary_content,
						  diary_Date,
						  diary_type)
						  
	  VALUES	        ( #{diaryName},
		     			  #{diaryContent},
		    			  #sysdate,
		   				  #{diaryType})
	</insert>
	
	
	<!-- 일정삭제 -->
	<delete id ="deleteDiary" parameterType="int">
	  DELETE  
	  FROM 	 diary
	  WHERE  diary_id  =  #{diaryId}
	</delete>
	
	
	<!-- 일정수정 -->
	<update id="updateDiary" parameterType="diary">
	  UPDATE diary
	  SET	 diary_name    = #{diaryName},
		     diary_content = #{diaryContent}
		     diary_type    = #{diaryType}
		     diary_modify  = #sysdate
	  WHERE  diary_id      = #{diaryId}
	</update>

</mapper>