<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.anabada.item.mapper.ItemMapper">
	<!-- ㅇㅈ -->
  <select id="selectItem" resultType="Item"> 
           select       i.item_num,
                        i.category_id,
                        i.member_num,
                        i.item_name,
                        i.item_price,
                        i.item_image,
                        i.item_info,
                        i.item_status,
                        i.item_date,
                        m.member_name,
                        m.member_score,
                        c.category_name,
                        i.dselect,
                        i.pselect
          from item i 
          join member m on (i.member_num = m.member_num)
          join category c on (c.category_id = i.category_id)
          where item_num = #{in}
  </select>

 <select id="ItemList" resultType="Item" >
    select     i.item_num,
               i.item_image,
               i.item_name,
               i.item_info,
               i.item_date,
               i.item_price,
               c.category_name,
               c.parent_category
   from item i join category c on (i.category_id = c.category_id)
   where category_name = #{categoryName}
   <!-- <if test="cname != null and cname != ''">
   </if> -->
      </select>
	
	<select id="inameList" resultType="Item">

		select i.item_num,
		i.item_image,
		i.item_name,
		i.item_info,
		i.item_date,
		i.item_price,
		c.category_name,
		c.parent_category
		from item i join category c on (i.category_id = c.category_id)
		<where>
			<if test="iname != null and iname != ''">
				item_name like '%'||#{itemName}||'%'
			</if>
		</where>
	</select>


	<!-- ㅎㅈ -->

	<select id="recentItem" resultType="Item">
		SELECT item_num
		      ,(select category_name from category c where c.category_id = a.category_id) AS "category_name"
		      ,member_num
		      ,item_name
		      ,item_price
		      ,item_image
		      ,item_info
		      ,item_status
		FROM (SELECT i.*
                    ,ROW_NUMBER() OVER (ORDER BY item_date DESC) AS recent
              FROM item i
		      WHERE item_status = '판매중') a
		WHERE recent <![CDATA[<= 10]]>
	</select>

	<select id="likeItem" resultType="Item">
		SELECT item.item_num
		,(select category_name from category c where c.category_id = item.category_id) AS "category_name"
		,member_num
		,item_name
		,item_price
		,item_image
		,item_info
		,a.zzim
		FROM
		(SELECT COUNT(*) AS zzim,
		item_num
		FROM
		cart
		GROUP BY item_num
		ORDER BY zzim DESC) a, item
		WHERE a.item_num =
		item.item_num
		AND rownum <![CDATA[<= 10]]>
	</select>

	<select id="cateList" resultType="co.anabada.item.Category">
		SELECT level
		,category_id
		,category_name
		,parent_category
		FROM category
		START WITH parent_category
		IS NULL	
		CONNECT BY PRIOR category_id = parent_category
	</select>

	<!-- ㅈㄱ -->
	<select id="shopList" resultType="Item">
		select r.review_score
		,r.review_comment
		,i.item_num
		,i.category_id
		,i.item_name
		,i.item_price
		,i.item_image
		,i.item_status
		,i.item_date
		FROM item i
		JOIN review r ON
		r.order_id = i.member_num
	</select>

	<!-- ㅈㅇ -->
	<select id="sellItemList" resultType="Item" parameterType="int">
	SELECT 	    i.item_num,
				i.category_id,
				i.member_num,
				i.item_name,
				i.item_price,
				i.item_image,
				i.item_info,
				i.item_status,
				i.item_date,
                m.member_num
				FROM item i
				JOIN member m ON  i.member_num = m.member_num
                where i.member_num = ${memberNum}
				AND i.item_status = '판매중'
				ORDER BY item_date DESC
	</select>

	 <update id="sellItemCancle" parameterType="int">
		UPDATE item
		SET    item_status = '판매취소'
		where  item_num = #{itemNum}
	</update>
	

	<select id="getTotalCnt" resultType="int" parameterType="search">
		select
		count(*)
		from item
		where item_name like '%'||#{keyword}||'%'
	</select>

	<select id="ItemList1" resultType="item" parameterType="search">
		select rn,
		item_num,
		category_id,
		member_num,
		item_name,
		item_price,
		item_image,
		item_info,
		item_status,
		item_date
		<!-- from item -->
		from (select /*+ INDEX_DESC(b SYS_C008616) */ rownum rn, b.*
		from item
		b
		<where>
			item_num like '%'||#{keyword}||'%'
          <![CDATA[
          and rownum <= (#{page} * 5) 
          ]]>
		</where>
		) a
		where a.rn > (#{page} - 1) * 5
	</select>


	<!-- ㅎㅈ -->
	<insert id="insertItem" parameterType="Item">
	<selectKey resultType="int" keyProperty="itemNum" order="AFTER">
  	  SELECT item_num_seq.currval
  	  FROM   dual
  	</selectKey>	
		INSERT INTO
		item(item_num
		,category_id
		,member_num
		,item_name
		,item_price
		,item_image
		,item_info
		,item_status
		,pselect
		,dselect)
		VALUES(item_num_seq.nextval
		,#{categoryId}
		,#{memberNum}
		,#{itemName}
		,#{itemPrice}
		,#{itemImage}
		,#{itemInfo}
		,#{itemStatus}
		,#{pselect}
		,#{dselect})
	</insert>

	<update id="changeItem" parameterType="hashMap">
        UPDATE item
        SET    item_status = #{param1}
        WHERE  item_num = #{param2}		
	</update>


</mapper>