<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.anabada.item.mapper.ItemMapper">
	<!-- ㅇㅈ -->


  <select id="selectItem" resultType="Item"> 
           select       i.item_num,
                        i.category_id,
                        i.member_num,
                        i.item_name,
                        i.item_price,
                        i.item_image,
                        i.item_info,
                        i.item_status,
                        i.item_date,
                        m.member_name,
                        m.member_score,
                        c.category_name,
                        i.dselect,
                        i.pselect
          from item i 
          join member m on (i.member_num = m.member_num)
          join category c on (c.category_id = i.category_id)
          where item_num = #{in}
  </select>
  
  <select id="getTotalCnt" resultType="int" parameterType="search">
  select count(*) 
    from item
    <where>
      <choose>
        <when test="searchCondition == 'T'.toString() ">
         title like '%'||#{keyword}||'%'
        </when>
        <when test="searchCondition == 'W'.toString() ">
         writer like '%'||#{keyword}||'%'
        </when>
        <when test="searchCondition == 'TW'.toString() ">
         (title like '%'||#{keyword}||'%' or writer like '%'||#{keyword}||'%')
        </when>
      </choose>
    </where>
  </select>
  
 <select id="ItemList" resultType="Item" >
    select    item_num,
              category_id,
              member_num,
              item_name,
              item_price,
              item_image,
              item_info,
              item_status,
              item_date
      from    item
      </select>


	<!-- ㅎㅈ -->
	<insert id="insertItem" parameterType="Item">
		INSERT INTO
		item(item_num
		,category_id
		,member_num
		,item_name
		,item_price
		,item_image
		,item_info
		,item_status
		,pselect
		,dselect)
		VALUES(item_num_seq.nextval
		,#{categoryId}
		,#{memberNum}
		,#{itemName}
		,#{itemPrice}
		,#{itemImage}
		,#{itemInfo}
		,#{itemStatus}
		,#{pselect}
		,#{dselect})
	</insert>

	<select id="recentItem" resultType="Item">
		SELECT item_num
		      ,(select category_name from category c where c.category_id = a.category_id) AS "category_name"
		      ,member_num
		      ,item_name
		      ,item_price
		      ,item_image
		      ,item_info
		      ,item_status
		FROM (SELECT i.*
                    ,ROW_NUMBER() OVER (ORDER BY item_date DESC) AS recent
              FROM item i
		      WHERE item_status = '판매중') a
		WHERE recent <![CDATA[<= 10]]>
	</select>

	<select id="likeItem" resultType="Item">
		SELECT item.item_num
		,(select category_name from category c where c.category_id = item.category_id) AS "category_name"
		,member_num
		,item_name
		,item_price
		,item_image
		,item_info
		,a.zzim
		FROM
		(SELECT COUNT(*) AS zzim,
		item_num
		FROM
		cart
		GROUP BY item_num
		ORDER BY zzim DESC) a, item
		WHERE a.item_num =
		item.item_num
		AND rownum <![CDATA[<= 10]]>
	</select>

	<select id="cateList" resultType="co.anabada.item.Category">
		SELECT level
		,category_id
		,category_name
		,parent_category
		FROM category
		START WITH parent_category
		IS NULL	
		CONNECT BY PRIOR category_id = parent_category
	</select>


	<select id="shopList" resultType="Item">
		select r.review_score
		,r.review_comment
		,i.item_num
		,i.category_id
		,i.item_name
		,i.item_price
		,i.item_image
		,i.item_status
		,i.item_date
		FROM item i
		JOIN review r ON
		r.order_id = i.member_num
	</select>

	<select id="sellItemList" resultType="Item" parameterType="int">
		select *
		from item
		where item_status = '판매완료'
		And member_num = #{memberNum}
	</select>

	 <delete id="deleteSellItemList" parameterType="int">
		delete From item
		where item_num = #{itemNum}
	</delete>

	<!--  <select id="sellItemList" resultType="Item" parameterType="int">
		SELECT 	item_num,
				category_id,
				member_num,
				item_name,
				item_price,
				item_image,
				item_info,
				item_status,
				item_date
				FROM item
				WHERE member_num = #{memberNum}
				AND (item_status = '판매중' OR item_status ='판매완료')
				ORDER BY item_date DESC
	</select>
	<update id="deleteSellItemList" parameterType="int"> 
		update 	item 
		SET		item_status = 'x' 
		where item_num = {itemNum} 
	</update> -->
</mapper>