<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="co.anabada.nego.mapper.NegoMapper">
  	
    <select id="negoForm" resultType="co.anabada.nego.Nego" parameterType="int">
        SELECT n.nego_num,
               n.item_num,
               n.nego_chat,
               n.nego_chat_date,
               m.member_name
        FROM nego_chat n
        JOIN item i ON n.item_num = i.item_num
        JOIN member m ON n.member_num = m.member_num
        WHERE n.item_num = #{itemNum}
        order by n.nego_chat_date desc 
    </select>
  
  	
  	
  	<insert id="AddnegoChat" parameterType="co.anabada.nego.Nego">
       insert into nego_chat (nego_num,
       						  member_num,
                              item_num,
                              nego_chat,
                              nego_chat_Date)
    values(nego_num_seq.nextval,
    	   #{memberNum},
           #{itemNum},
           #{negoChat},
           sysdate)
       </insert>
  	
  </mapper>